.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#info_div {
  margin-top: 10px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
  border: 2px solid #ccc;
}

#info_div h1 {
  color: #242533;
  font-size: 16;
  padding: 10px 0 20px 0;
}

#info_div > h3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

#info_div .numbers {
  color: #484964;
  font-size: 14px;
}

#info_div > p {
  font-size: 14px;
  color: #abacbe;
  padding-top: 5px;
}

#info_div .filters {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}

#dt_brand {
  background-color: #e9e8fc;
}

#info_div #price {
  background-color: #faf3e1;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 5px #888888;
}

#calendar_container {
  display: flex;
  gap: 10px;
}

.date_selected_type > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date_selected_type button {
  color: white;
  font-weight: bold;
  background-color: rgb(54, 54, 54);
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 340px;
}

.date_selected_type button:hover {
  background-color: #242533;
}

#save_button {
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(0, 102, 0);
}

#open_modal_container_button {
  margin-top: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #242533;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 4px #888888;
}

.date_picker {
  width: 40%;
}

#see_result {
  color: white;
  background-color: #0f6a7a;
  border: 2px solid #ccc;
  width: 20%;
}

#save_icon:hover {
  cursor: pointer;
}

#save_icon:hover::after {
  content: "Save";
  position: absolute;
  background-color: #ccc;
  padding: 10px;
}
